{% extends 'bases/base.html' %}
{% load static %}

{% block 'head' %}
    <link href="{% static 'home/css/home.css' %}" rel="stylesheet"></link>
{% endblock %}

{% block 'body' %}
<div class="container">
    <div class="box">
        <img class="homepage-logo-icon" src="{% static 'home/img/carlostore.png' %}">
        <div class="vertical-line"></div>
        {% if messages %}
            {% for message in messages %}
                <div class="{{ message.tags }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
        <h1 class="text-doing-login">FAZER LOGIN</h1>
        <form action="{% url 'realizar_login' %}" method='POST'>{% csrf_token %}
            <input class="email-input" type="text" placeholder="INSIRA O SEU E-MAIL" name='email-input'>
            <input class="senha-input" type="text" placeholder="INSIRA A SUA SENHA" name='senha-input'>
            <input class="submit-input" type="submit">
            <form>
    </div>
</div>
{% endblock %}
